.title {
  position: absolute;
  bottom: 20%;
  width: 100%;
  color: white;
  text-align: center;
}

.image {
  max-width: 100%;
  /* height: 200px; */
  max-height: 200px;
  opacity: 1;
}

.imageContainer {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: 200px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
}

.imageContainer:hover {
  background-color: black;
}

.imageContainer:hover>.image {
  opacity: 0.6;
}

.image2 {
  /* width: 80vw; */
  max-height: 70vh;
  min-height: 70vh;
  float: left;
}

.descriptionContainer {
  display: inline;
  /* text-align: center; */
}

.descriptionContainer span {
  margin: 10px
}

.buttonClose {
  width: 4vh;
  height: 4vh;
  background-color: white;
  border: hidden;
  cursor: pointer;
  position: absolute;
  right: 1vh;
  top: 1vh;
}